[Desktop Entry]
Version=1.0
Type=Application
Name=CLion
Icon=/home/philipp/clion/bin/clion.svg
Exec=/home/philipp/clion/bin/clion.sh
Comment=The Drive to Develop
Categories=Development;IDE;
Terminal=false
StartupWMClass=jetbrains-clion
